// Place all the styles related to the api/albums controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// TODO: update this so that it crops non-square pics

/* ALBUM INDEX PAGE */

img.album-cover-photo {
  width: 200px;
  height: 200px;
  position: relative;
}

.album-container {
  float: left;
  width: 200px;
  height: 200px;
  margin: 10px;
}

.album-name {
  color: white;
  position: relative;
  top: -45px;
  left: 10px;
  font-size: 16px;
}

.album-photo-count {
  color: white;
  position: relative;
  top: -55px;
  left: 10px;
  font-size: 12px;
}



/* NEW ALBUM BUTTON */

.albums-new-album {
  background-color: #31221B;
  float: left;
  cursor: pointer;
  cursor: hand;
}

#new-album-plus {
  position: relative;
  top: 20px;
  text-align: center;
  font-size: 86px;
  font-weight: 700;
}

#new-album-description {
  font-size: 16px;
  text-align: center;
}



/* NEW ALBUM PAGE */

.new-album-view-container {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  border: 3px solid red;
  padding: 0px;
}

.new-album-upper-pane {
  position: relative;
  width: 100%;
  border: 3px solid green;
  height: -webkit-calc(100% - 150px);
  height: -moz-calc(100% - 150px);
  height: calc(100% - 150px);
  margin: 0px;
}

.new-album-lower-pane {
  margin: 0px;
  position: relative;
  width: 100%;
  height: 150px;
  border: 3px solid blue;
}