// Place all the styles related to the api/albums controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// TODO: update this so that it crops non-square pics

/* ALBUM INDEX PAGE */

img.album-cover-photo {
  width: 200px;
  height: 200px;
  position: relative;
}

.album-container {
  float: left;
  width: 200px;
  height: 200px;
  margin: 10px;
}

.album-name {
  color: white;
  position: relative;
  top: -45px;
  left: 10px;
  font-size: 16px;
}

.album-photo-count {
  color: white;
  position: relative;
  top: -55px;
  left: 10px;
  font-size: 12px;
}



/* NEW ALBUM BUTTON */

.albums-new-album {
  background-color: #31221B;
  float: left;
  cursor: pointer;
  cursor: hand;
}

#new-album-plus {
  position: relative;
  top: 20px;
  text-align: center;
  font-size: 86px;
  font-weight: 700;
}

#new-album-description {
  font-size: 16px;
  text-align: center;
}



/* NEW ALBUM PAGE */

.new-album-view-container {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  // border: 3px solid red;
  padding: 0px;
}

.new-album-upper-pane {
  position: relative;
  width: 100%;
  // border: 3px solid green;
  height: -webkit-calc(100% - 150px);
  height: -moz-calc(100% - 150px);
  height: calc(100% - 150px);
  margin: 0px;
  padding-top: 25px;
  padding-bottom: 5px;
}

.new-album-lower-pane {
  margin: 0px;
  position: relative;
  width: 100%;
  height: 150px;
  // border: 3px solid blue;
}

.new-album-sidebar {
  height: 100%;
}

.new-album-drag-section {
  padding: 15px;
  background-color: #F0F0F0;
  // border: 3px solid orange;
  height: 100%;
}

.new-album-drag-section img {
  margin: 5px;
}

.drag-section-instructions {
  position: absolute;
  top: 30%;
  left: 50%;
  width: 100%;
}

#inner-drag-section-instructions {
  position: relative;
  left: -50%;
}

#instruction-text-1 {
  color: #9C9C9C;
  font-size: 33px;
  text-align: center;
}

#instruction-text-2 {
  position: relative;
  color: #9C9C9C;
  font-size: 25px;
  text-align: center;
}

.new-album-lower-pane {
  background-color: #F0F0F0;
}

.user-picture-container {
  background-color: #D4D4D4;
  position: relative;
  height: 85px;
  top: 30px;
  left: 5%;
  right: 5%;
  width: 90%;
  padding: 5px;
}

// .user-picture-container ul {
//   white-space: nowrap;
// }

.connected-sortable li {
  display: inline-block;
}

.connected-sortable img {
  width: 75px;
  height: 75px;
}