// Place all the styles related to the api/Photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div#photo-show-holder {
  background: black;
  position: absolute;
  top: 0px;
  left: 0;
  right: 25%;
  bottom: 0;
  width: auto;
  height: auto;
  z-index: 11;
}

// TODO: change left to pixels (same for above)
div#photo-show-sidebar {
  background: #212124; //dark gray
  position: absolute;
  top: 0px;
  left: 75%;
  right: 0px;
  bottom: 0;
  width: auto;
  height: auto;
  z-index: 11;
}


img.main-show-img {
    position: absolute;
    top: 50%;
    left: 50%;
}

/*
.img-container > img {
  margin-top: -50%;
  margin-left: -50%;
}
*/

div.glyphicon-remove {
  color: #F1F8C1;
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
  cursor: hand; /* needed for cross-browser support */
}

#photo-show-sidebar > div.row {
  /* TODO: this could be problematic later */
  margin-right: 0px;
}

button[data-target="#confirm-delete"] {
  color: white;
}

button[data-target="#confirm-delete"]:hover {
  color: white;
}

.modal-dialog {
  width: 250px;
}

.modal-title, .modal-body {
  color: #212124; //dark gray
}

form.photo-upload-form {
  top: 100px;
}



/* EXPLORE PHOTOS */
#explore-photos img {
  margin: 0px;
  padding: 0px;
}