<div id="cover-photo" class="cover-photo wviewvert" style="background-image: url(https://s.yimg.com/pw/images/coverphoto04_h.jpg.v2); top: -35px;">

  <div id="profile-pic"></div>
  <h1 id="profile-name" class="profile">
    <%= user.escape('fname') %> <%= user.escape('lname') %>
  </h1>

</div>