<div id="cover-photo" class="cover-photo wviewvert" style="background-image: url(https://s.yimg.com/pw/images/coverphoto04_h.jpg.v2); top: -35px;">

  <img id="profile-pic"
    src="https://lh6.googleusercontent.com/-hG6KKKpZu5I/AAAAAAAAAAI/AAAAAAAAAAQ/w8Rn1YcX9A8/photo.jpg">

  <h1 id="profile-name" class="profile">
    <%= user.escape('fname') %> <%= user.escape('lname') %>
  </h1>
  <h4 id="profile-username"><%= user.escape('username')%></h4>

</div>

<div id="profile-photostream">
  <img src="http://fc09.deviantart.net/fs71/i/2012/230/b/e/grassy_field_sunset___free_stock_by_kevron2001-d5blgkr.jpg">
  <img src="http://www.techiemania.com/wp-content/uploads/2010/09/freebie-images-free-stock-images-plugin.jpg">
  <img src="http://ethicsalarms.files.wordpress.com/2012/03/beautiful-2ddrawings-2d41.jpg">
  <img src="http://www.wallsave.com/wallpapers/1024x640/smooking/34363/smooking-free-stock-p-os-images-part-34363.jpg">
  <img src="http://static1.businessinsider.com/image/50185063eab8ea6802000002/apple-ceo-tim-cook-likes-these-7-beautiful-things.jpg">
</div>