<form class="close-form">
  <div class="row">
    <div class="col-md-11">
      <input
        class="form-control"
        type="text"
        value="<%= photo.escape('description') %>">
    </div>
  </div>
</form>