<div id="profile-photostream">
  <% photos.each(function (photo) { %>
    <img src="<%= photo.escape('url') %>" data-photo-id="<%= photo.id %>">
  <% }) %>
</div>

<button type="button" class="more btn btn-lg btn-primary">More</button>