<div id="explore-photos">
  <% photos.each(function (photo) { %>
    <img src="<%= photo.escape('url') %>" 
      width="<%= photo.escape('width') %>" height="<%= photo.escape('height') %>">
  <% }) %>
</div>

<div class="row">
  <button
    type="button"
    class="more btn btn-lg btn-primary col-xs-2 col-xs-offset-5">
    More
  </button>
</div>