<div id="profile-photostream">
  <% photos.each(function (photo) { %>
    <img src="<%= photo.escape('url') %>" data-photo-id="<%= photo.id %>">
  <% }) %>
</div>

<div class="row">
  <button
    type="button"
    class="more btn btn-lg btn-primary col-xs-2 col-xs-offset-5">
    More
  </button>
</div>