<div id="explore-photos">
  <% photo_rows.each(function(photo_row) { %>
    <div class="row explore-rows">
      <% _(photo_row.attributes).each(function(photo) { %>
        <div class="explore-photo-wrapper">
          <img src="<%= photo.url %>" 
            width="<%= photo.width %>" height="<%= photo.height %>"
            class="explore-photo" data-photo-id="<%= photo.id %>">
        </div>
      <% }) %>
    </div>
  <% }) %>
</div>

<div class="row">
  <button
    type="button"
    class="more btn btn-lg btn-primary col-xs-2 col-xs-offset-5">
    More
  </button>
</div>