<div id="my-awesome-dropzone" class="col-xs-8 col-xs-offset-2"></div>

<div id="dropbox-text"><p>Drag images here to upload them</p></div>
<div id="dropbox-text2"><p>You can also click inside to pop up an upload window</p></div>

<button type="button" class="submit-dropzone btn btn-primary col-xs-2 col-xs-offset-5">
  Upload photos!
</button>