<div id="my-awesome-dropzone">ASDFASDASDFASDF</div>
<!-- <form action="/api/photos"
      class="dropzone"
      id="my-awesome-dropzone"></form> -->

<button type="button" class="submit-dropzone btn btn-primary">Upload photos!</button>