/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

// navigation
$navbar-default-bg: #282828; // dark gray
$navbar-default-color: white;
$navbar-default-link-color: white;
$navbar-default-link-hover-color: #E20077; // pink
$navbar-default-link-active-color: #E20077; // pink
$navbar-margin-bottom: 0px;
$navbar-border-radius: 0px;

// body
$text-color: white;

@import "bootstrap";

img[data-photo-id] {
  cursor: pointer;
  cursor: hand; /* needed for cross-browser support */
}

img[data-photo-id]:not(#profile-pic) {
  padding: 5px; border: solid 1px #EFEFEF;
}

/* from: http://www.cvwdesign.com/txp/article/395/css3-box-shadow-and-image-hover-effects */
img[data-photo-id]:hover:not(#profile-pic) {
  border: solid 1px #CCC;
  -moz-box-shadow: 1px 1px 5px #999;
  -webkit-box-shadow: 1px 1px 5px #999;
  box-shadow: 1px 1px 5px #999;
}

.auth-page label {
  color: #282828; // dark gray
}