// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div#profile-pic {
  background: blue;
  height: 100px;
  width: 100px;
  position: relative;
  top: 100px;
  left: 20px;
}

div#cover-photo {
  margin-top: 0px;
  padding-top: 0px;
  height: 220px;
  width: 100%;
}

// TODO: for some reason position: relative is getting overriden
h1#profile-name {
  color: white;
  postion: absolute;
  top: 100px;
  left: 100px;
}