// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

img#profile-pic {
  height: 120px;
  width: 120px;
  position: relative;
  top: 90px;
  left: 10px;
}

div#cover-photo {
  margin-top: 0px;
  padding-top: 0px;
  height: 220px;
  width: 100%;
  margin-bottom: 10px;
}

// TODO: for some reason position: relative is getting overriden
h1#profile-name {
  color: white;
  position: relative;
  top: -30px;
  left: 145px;
  font-weight: bold;
}

h4#profile-username {
  color: white;
  position: relative;
  top: -35px;
  left: 145px;
}

#profile-photostream > img {
  max-height: 290px;
  margin: 5px;
}