// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

img#profile-pic {
  height: 120px;
  width: 120px;
  position: relative;
  top: 85px;
  left: 10px;
  z-index: 3;
  border: 1px solid #7E6D5A;
  border: 1px solid hsla(32, 17%, 42%, 0.35);
  border: 1px solid hsla(360, 100%, 100%, 0.4);
}

div#cover-photo {
  margin-top: 0px;
  padding-top: 0px;
  height: 215px;
  width: 100%;
  margin-bottom: 10px;
}

// TODO: for some reason position: relative is getting overriden
h1#profile-name {
  color: white;
  position: relative;
  top: -35px;
  left: 145px;
  font-weight: bold;
}

h4#profile-username {
  color: white;
  position: relative;
  top: -40px;
  left: 145px;
}

#profile-photostream > img {
  max-height: 290px;
  margin: 5px;
}

/* background image setup */
#cover-photo {
  background: url(https://s.yimg.com/pw/images/coverphoto04_h.jpg.v2) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100%;
  width: 100%;
  overflow: hidden;
}



/* PROFILE NAVBAR */

nav#profile-navbar {
  top: -62px;
}

li.profile-nav-left {
  left: 120px;
}

#profile-navbar {
  background: #000;  /* fallback for older browsers */
  background:rgba(0,0,0,0.5);   /* for latest browsers */
  z-index: 2;
}