<% albums.each(function(album) { %>
  <div class="album-container">
    <img src="<%= album.get('cover_photo').url %>"
      class="album-cover-photo">
    <p class="album-name"><%= album.get('name') %></p>
    <p class="album-photo-count"># photos</p>
  </div>
<% }) %>