<div class="row new-album-upper-pane">
  <div class="col-xs-3 new-album-sidebar">
    <form role="form">
      <div class="form-group">
        <label for="album_name"></label>
        <input type="text" name="album[name]" class="form-control" id="album_name" placeholder="new album">
      </div>

      <div class="form-group">
        <textarea class="form-control" name="album[description]" rows="10"></textarea>
      </div>
      
      <div class="form-group">
        <input type="submit" value="SAVE" class="btn btn-default save">
        <button type="button" class="btn btn-default cancel">CANCEL</button>
      </div>
    </form>
  </div>

  <ul class="col-xs-9 new-album-drag-section connected-sortable" id="sortable2">
    <div class="drag-section-instructions ui-state-disabled">
      <div id="inner-drag-section-instructions">
        <p id="instruction-text-1">Drag stuff here to add it to the album</p>
        <p id="instruction-text-2">You can drag them around to re-order them.</p>
      </div>
    </div>
  </ul>
</div>

<div class="row new-album-lower-pane">
  <ul class="user-picture-container connected-sortable" id="sortable1">
    <% userPhotos.each(function (photo) { %>
      <li class="ui-state-default">
        <img src="<%= photo.escape('url') %>" data-id="<%= photo.id %>">
      </li>
    <% }) %>
  </ul>
</div>