<nav class="navbar navbar-default">
  <div class="container">

    <a class="navbar-brand" href="#">Phlickr</a>

    <% if logged_in? %>
    <ul class="nav navbar-nav">
    </ul>
    <% end %>

    <ul class="nav navbar-right">
      <li>
        <% if logged_in? %>
          <%= button_to "Log out", session_url, { method: :delete, class: "btn btn-sm btn-default" } %>
        <% else %>
          <%= button_to "Sign In", new_session_url, { method: :get, class: "btn btn-sm btn-default" } %>
        <% end %>
      </li>
    </ul>

  </div>
</nav>